<form class="form-horizontal" action="/online_inquiries" method="post">
  <fieldset>

    <!-- Form Name -->
    <legend>Download Brochure</legend>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="personal_detail[first_name]">First Name</label>
      <div class="controls">
        <input id="personal_detail[first_name]" name="personal_detail[first_name]" type="text" placeholder="" class="input-xlarge">

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="personal_detail[last_name]">Last Name</label>
      <div class="controls">
        <input id="personal_detail[last_name]" name="personal_detail[last_name]" type="text" placeholder="" class="input-xlarge">

      </div>
    </div>

    <!-- Text input-->
    <div class="control-group">
      <label class="control-label" for="personal_detail[email]">E-Mail</label>
      <div class="controls">
        <input id="personal_detail[email]" name="personal_detail[email]" type="text" placeholder="" class="input-xlarge">

      </div>
    </div>

    <!-- Button -->
    <div class="control-group">
      <label class="control-label" for="download_button"></label>
      <div class="controls">
        <button id="download_button" name="download_button" class="btn btn-primary">Download</button>
      </div>
    </div>

  </fieldset>
</form>