<script type="text/javascript">
    $(document).ready(function () {
            $('#select-status').val(<%= params['cohort'] %>)
    })
</script>

<div class="row no-print" style="margin-top: 35px;">
  <div class="span4">
    <b>Cohort</b>
  </div>
  <div class="span4">
    <select name="cohort" id="select-status">
      <option value="8">Cohort 8</option>
      <option value="9">Cohort 9</option>
      <option value="10">Cohort 10</option>

    </select>
  </div>
  <div class="span2">
    <input class="btn btn-info" type="submit"/>
  </div>
</div>