<script type="text/javascript">
    $(document).ready(function () {
        <% if params['status'].present? %>
            $('#select-status').val(<%= params['status'] %>)
        <% elsif @online_application_form.present? %>
            $('#select-status').val(<%= @online_application_form.status.present? ? @online_application_form.status : '0' %>)
        <% end %>
    })
</script>
<div class="row no-print">
  <div class="span4">
    <b>Applicant Status</b>
  </div>
  <div class="span4">
    <select name="status" id="select-status">
      <option value="0">All</option>
      <option value="10">Registered</option>
      <option value="20">Recorded</option>
      <option value="30">For Verification</option>
      <option value="90">Deleted</option>
    </select>
  </div>
  <div class="span2">
    <input class="btn btn-info" type="submit"/>
  </div>
</div>