<div class="row">
  <div class="span3">
    <b>Total Applications</b>
  </div>

  <div class="span1">
    <b><%= @applicants.count %></b>
  </div>

  <div class="span2">
    <a href="/excel/export" class="btn btn-warning">Export Tool</a>
  </div>
</div>