<script type="text/javascript">
    $(document).ready(function () {

        $('#page-title').text("Sample22");
    }
</script>
<form method="get" action="/dashboard">
  <%= render :partial => 'status' %>
</form>
<hr>


      <%= render :partial => 'table-dtl' %>

<hr/>
