
<form method="get" action="/dashboard">
  <%= render :partial => 'status' %>
</form>
<hr>
<%= render :partial => 'table-dtl' %>
<!--<iframe src="https://docs.google.com/spreadsheets/d/12nE9VqH1WVaw5jQ4X5XirjrJGf2wipLVsay_ygFljbM/pubhtml?widget=true&amp;headers=false" style="height: 700px; width: 500px;"></iframe>-->