<div style="width: 380px; border-radius: 5px; background: #014051; color: white; padding: 5px; margin-left: 10px; float: left;">
  <h3>
    Supplemental Information
  </h3>
  <p>
    You have submitted the supplemental information questionnaire. You will receive an e-mail from us should we require
    additional information or clarification regarding your application.
  </p>
</div>