<script type="text/javascript">
    $(document).ready(function () {
        $('#page-title').text("Thank You");
    })
</script>

<div style="width: 770px; height: 300px; background: #4b97ab; border-radius: 5px; padding: 10px; color: white; margin: 10px;">
  <h1>Thank You</h1>

  <div style="position: relative; bottom: -150px; right: 10px; text-align: right;">
    <p>
      Your information has been recorded. Thank you for taking the time to update with us.
      We would like also to invite you to visit the AIM alumni portal at www.aimalumni.org  and REGISTER so that you will be updated on the latest news, events, and reunions that the Institute has for its alumni.
      Please do not hesitate to contact us at aimalumni@aim.edu  should you have any questions or need any assistance.
    </p>
  </div>
</div>