<%= render :partial => 'online_application_forms/print/personal_information' %>
<%= render :partial => 'online_application_forms/print/academic_information' %>
<%= render :partial => 'online_application_forms/print/employment_information' %>
<hr/>
<p><a href="javascript:window.print();" class="btn btn-info">Print</a></p>
