<div class="modal fade" id="application-instructions">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Online Application Guide</h4>
      </div>
      <div class="modal-body">
        <h3>Online Application Guide</h3>

        <h4>Step 1 Accomplishing the Application form</h4>

        <p>
          There are three information fields in the application form, namely, Personal Information, Employment History
          and Education. The fields may be completed and submitted on separate occasions, up until you are ready to
          complete
          the application form. You can save your work as you go but at least one of the three fields must be completed
          and
          submitted in one session (i.e. Personal Information). NOTE: Your name will be considered as an applicant once
          you have completed the form.
        </p>

        <h4>Step 2 Confirmation of Receipt of Application Form </h4>

        <p>
          After submitting the accomplished application form, you will receive a confirmation email and you will be
          advised to submit the following documents:
        </p>
        <ul>
          <li>
            PDF copy of resume
          </li>
          <li>
            PDF copy of Official Score Report of GMAT or GRE for MBA 16-month program applicants
          </li>
          <li>
            Copy of transcript of academic records
          </li>
          <li>
            One professional recommendation or photocopy of Certificate of Business Name Registration (for self-employed
            applicants)
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div><!-- /.modal -->


