<%= javascript_include_tag :home %>

<div class="intro-online-admissions">
  <p id="intro-online-admissions-text">
    Connecting you to our community is our top priority. To receive the latest updates, announcements,
    and promotions, we need to ensure that your contact information is correct. Please enter your
    information in order to update your profile.
</div>

<%= render :partial => 'form' %>
<%= render :partial => 'guide' %>