<div style="height: 100%;width: 800px;margin: 0 auto 0 auto;">
  <h3 style="text-align: center">Listing subjects</h3>

  <table class="CSSTableGenerator" border="1">
    <tr>
      <td>Subject code</td>
      <td>Description</td>
    </tr>

    <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.subject_code %></td>
          <td><%= subject.description %></td>
        </tr>
    <% end %>
  </table>
</div>