body {
  background-color: #0D112E;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media print
{
  .no-print, .no-print *
  {
    display: none !important;
  }

  .content-container, .admissions-container {
    height: auto !important;
    overflow-y: auto !important;
  }

  .footer-online-admissions {
    display: none !important;
  }
}

.data-placeholder {
  margin-top: 5px;
}
.aim-brand {
  background-color: #0D112E;
  padding-bottom: 10px;
}

.admissions-container {
  width: 900px;
  margin: 0 auto;
  background: #ffffff;
}

.admissions-title {
  background-color: #3A5D8D;
}

.admissions-header {
  font-size: 24px;
  color: white;
  margin-top: 0px;
}

h1 {
  padding-left: 10px;
}

.content-container {
  padding-left: 10px;
  padding-bottom: 10px;
  height: 600px;
  overflow: scroll;
}

.label {
  float: left;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 14px;
}

.input-field {
  float: left;
}

.input-field-set {
  clear: both;
  display: block;
  width: 100%;
  position: relative;
}

.highlighted {
  background-color: lightblue;
}

.footer-online-admissions {

}

div.intro-online-admissions {
  width: 400px;
  margin: 50px auto;
}

div#online-admissions-login {
  width: 550px;
  margin: 0px auto;
}

p#intro-online-admissions-text {
  clear: both;
}

.footer-online-admissions {
  padding-top: 10px;
  color: lightgray;
  font-size: 8px;
  text-align: center;
}

div#show-personal-detail.detail-bubble {
  border-radius: 10px;
  padding: 20px;
  background-color: beige;
}

div#show-employment-detail {
  border-radius: 10px;
  padding: 20px;
  background-color: lightblue;
}

div#show-education-detail {
  border-radius: 10px;
  padding: 20px;
  background-color: lightgreen;
}

.applicant-dtl-main {
  tr:nth-child(even) {background: #CCC}
  tr:nth-child(odd) {background: #FFF}
}

.unread-application  {
  font-weight: bold;
}

.form-detail {
  font-family: 'Courier', 'Courier New';
  font-weight: normal !important;
}