<div class="pagination">
  <ul>
    <li id="step-1"><a href="#">Step 1: Particulars</a></li>
    <li id="step-2"><a href="#">Step 2: Employment</a></li>
    <li id="step-3"><a href="#">Step 3: Education</a></li>
  </ul>
</div>
<%= render :partial => 'admissions/stepper' %>