<h2>Thank You</h2>
<p>
  We have received your application and you will receive an e-mail confirmation within the next few days.
  This confirmation will include instructions on submitting certain application requirements and other
  documents to support your application.
</p>